NodeRed/Software nodes-code/spotifyNodes.json
[{"id":"a2e57984.518cf8","type":"http request","z":"92beab02.9c4d48","name":"Spotify Searchgenre API","method":"GET","ret":"obj","url":"https://api.spotify.com/v1/search?type=track&market=MY&limit=10&q=genre:{{{genre}}}","tls":"","x":1383.4108276367188,"y":745.3332843780518,"wires":[["91e3377d.5b19c8","5cf96832.147248"]]},{"id":"91e3377d.5b19c8","type":"function","z":"92beab02.9c4d48","name":"Prepare for MusicMessage","func":"var items = msg.payload.tracks.items;\nvar rndm = Math.floor((Math.random() * items.length));\nvar item = items[rndm];\nvar artists = [];\n\nurl = item.preview_url;\n//url = item.external_urls.spotify;\nfor (var i in item.artists) {\n artists.push(item.artists[i].name);\n}\n\ntitle = item.name;\ncontent = \"I have found \" + title + \" by \" + artists.join(\", \") + \".\";\n\n\n//url = item.external_urls.spotify;\n\nmsg.payload = {\n chatId : msg.chatId,\n type : \"message\",\n user : \"CASE\",\n message : content,\n audioURI : url\n};\n//msg.genre = msg.payload.context.genre;\nreturn msg;","outputs":1,"noerr":0,"x":1631.1964111328125,"y":743.5119018554688,"wires":[["9681af88.5ba38"]]},{"id":"8621028c.bd13e","type":"function","z":"92beab02.9c4d48","name":"genre","func":"var Token = global.get(\"accessToken\");\nmsg.headers={\n      'Authorization': 'Bearer ' + Token\n  };\nmsg.genre = msg.payload.context.genre;\n\nreturn msg;","outputs":1,"noerr":0,"x":1165.4287109375,"y":743.9047241210938,"wires":[["a2e57984.518cf8"]]},{"id":"6f3a48f2.9ecc98","type":"function","z":"92beab02.9c4d48","name":"Prepare for track","func":"var exsit = msg.payload.tracks.total;\nif(msg.payload.tracks.total===0){\n    msg.payload.message = \"I cannot find the song!\";\n\n}else{\n    var item = msg.payload.tracks.items[0];\n    url = item.external_urls.spotify;\n\n    msg.payload = {\n        user : \"CASE\",\n        message : \"here it comes.\",\n        audioURI : url\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"x":1604.9046630859375,"y":797.4762573242188,"wires":[["9681af88.5ba38"]]},{"id":"27275fae.55dd4","type":"http request","z":"92beab02.9c4d48","name":"Spotify SearchTrack API","method":"GET","ret":"obj","url":"https://api.spotify.com/v1/search?limit=1&q={{{q}}}&type=track","tls":"","x":1379.8094635009766,"y":796.857006072998,"wires":[["6f3a48f2.9ecc98"]]},{"id":"adbec9e3.e97f98","type":"function","z":"92beab02.9c4d48","name":"Track","func":"var Token = global.get(\"accessToken\");\nmsg.headers={\n      'Authorization': 'Bearer ' + Token\n  };\n\nvar play = \"play \";\nvar by = \" by \";\nvar request = msg.payload.input.text;\n\n//Get songName\nvar songName = request.slice(request.indexOf(play) + play.length, request.indexOf(by));\n\n//Get artist\nvar artist = request.slice(request.indexOf(by)+by.length);\n\n// msg.payload ={\n//     songName: songName,\n//     artist: artist\n// };\n\nvar query = songName + ' artist:' + artist;\n\nmsg.q = query;\n   \nreturn msg;","outputs":1,"noerr":0,"x":1171.4760570526123,"y":796.857141494751,"wires":[["27275fae.55dd4"]]},{"id":"a50606f6.8ae4b8","type":"function","z":"92beab02.9c4d48","name":"Stop the music","func":"msg.payload.musicAction = \"stop\";\nreturn msg;","outputs":1,"noerr":0,"x":1197.0000190734863,"y":848.0000133514404,"wires":[["9681af88.5ba38","d60b8b50.bfac58"]]},{"id":"d60b8b50.bfac58","type":"debug","z":"92beab02.9c4d48","name":"","active":true,"console":"false","complete":"false","x":1484,"y":894,"wires":[]},{"id":"5cf96832.147248","type":"debug","z":"92beab02.9c4d48","name":"","active":true,"console":"false","complete":"true","x":1650.0000228881836,"y":885.0000133514404,"wires":[]}]