NodeRed/Basic_bot_des.json
[{"id":"143a57d7.e7c068","type":"watson-conversation-v1","z":"e513b7e1.2a8978","name":"My BOT","workspaceid":"6142a080-a67b-4ba9-9044-023afbb8deb2","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":420,"y":380,"wires":[["7beb1143.cbe4b"]]},{"id":"d0ae34b2.b3cc58","type":"watson-speech-to-text","z":"e513b7e1.2a8978","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"","payload-response":false,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"default-endpoint":false,"service-endpoint":"","x":200,"y":300,"wires":[["6c4fbf7c.c2af3"]]},{"id":"6c4fbf7c.c2af3","type":"function","z":"e513b7e1.2a8978","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":299.99999237060547,"wires":[["143a57d7.e7c068"]]},{"id":"af5ee3ba.7d3aa","type":"microphone","z":"e513b7e1.2a8978","name":"","x":150,"y":260,"wires":[["d0ae34b2.b3cc58"]]},{"id":"a9abcf4b.49957","type":"comment","z":"e513b7e1.2a8978","name":"speech in","info":"","x":145.4768829345703,"y":216.2847728729248,"wires":[]},{"id":"a190323.ff9e9d","type":"watson-text-to-speech","z":"e513b7e1.2a8978","name":"","lang":"en-GB","langhidden":"en-GB","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":860,"y":480,"wires":[["40a95ce.b74d6a4"]]},{"id":"40a95ce.b74d6a4","type":"function","z":"e513b7e1.2a8978","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1030.6667518615723,"y":480,"wires":[["dea24e30.4ec7"]]},{"id":"dea24e30.4ec7","type":"play audio","z":"e513b7e1.2a8978","name":"","x":1190.0000457763672,"y":480,"wires":[]},{"id":"7beb1143.cbe4b","type":"function","z":"e513b7e1.2a8978","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    /*if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');*/\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":624.1666469573975,"y":449.3332920074463,"wires":[[],["a190323.ff9e9d"]]}]
